<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description here">
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Your keywords here">
    <title>Download</title>
    <!-- Add your CSS files here -->
</head>
<body>
    <script>
        window.csrfmiddlewaretoken="{{csrf_token}}"
        window.location.href="/static/news-authenticity-detector.zip"
        setTimeout(()=>{
            window.close()
        },3000)
    </script>
    
</body>
</html>
